<footer class="site-footer">
  <div class="wrapper">

      <div class="footer-content">
          <h2 class="footer-heading">{{ site.title }}</h2>
          <p class="text">{{ site.description }}</p>
          <a class="footer-mail" href="mailto:{{ site.email }}">{{ site.email }}</a>
          <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
      </div>

      <div class="footer-social-media">
          <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><img src="/images/twitter.png" alt="twitter logo" width="50"></a>
          <a target="_blank" href="https://github.com/{{ site.github_username }}"><img src="/images/github.png" alt="github logo" width="50"></a>
      </div>
  </div>
</footer>
