<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Coustard|Imprima" rel="stylesheet">
    <meta property="og:title" content="Task Storage" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/assignment-1.jpg" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="website that stores assignments in the course Client-based Web Programming (and other courses to come) at Linnaeus university in Sweden." />

    <meta name="description" content="{{ site.description }}">

    <link rel="author" href="/humans.txt" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
