<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Coustard|Imprima" rel="stylesheet">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TaskStorage">
    {% if page.title %}
        <meta property="og:title" content={{ page.title }} />
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content={{ site.title }} />
        <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.title %}
        <meta property="og:type" content="article" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}
    {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    <meta name="twitter:creator" content="@orksofta">
    {% if page.image %}
        <meta property="og:image" content="/images/{{ page.image }}" />
        <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}" />
    {% else %}
        <meta property="og:image" content="/images/logo-black.png" />
        <meta name="twitter:image:src" content="{{ site.url }}/images/logo-black.png" />
    {% endif %}
    {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
        <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    <link rel="author" href="/humans.txt" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
