/**
 * Site header
 */
.site-header {
    /*border-top: 5px solid $grey-color-dark;*/
    /*border-bottom: 1px solid $grey-color-light;*/
    min-height: 256px;
    background-color: #000000;
    background-image: url("../images/header-background.jpg");
    background-position: center;
    background-repeat: no-repeat;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    text-decoration: none;
    border: solid $white-color thin;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: 15px;
    padding: 5px;
    float: left;

    &,
    &:visited {
        /*color: $grey-color-dark;*/
        color: $background-color;
    }

    &:hover {
        background-color: rgba(1, 1, 1, 0.3);
        text-decoration: none;
    }
}

.site-nav {
    float: right;
   // line-height: 56px;

    ul {
        margin:1.5em 0;
    }

    li {
        display: inline-block;
        margin: 0 .5em;
    }

    .this-page {
        border-bottom: 2px solid $grey-color;
    }

    .menu-icon {
        display: none;
    }



    .page-link {
        position: relative;
        text-decoration: none;
        padding-bottom: .5em;
        color: $white-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            color: $grey-color;
        }

        &:visited {
            font-weight: bolder;
        }

        //the animated underline trick is from Rene Spronk's article on CSS Portal (Source: http://www.cssportal.com/blog/css-animated-underline-links/)
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            border-bottom: 2px solid $grey-color;
            transition: 0.4s;
        }

        &:hover:after {
            width: 100%;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 15px;
        right: 30px;
        //background-color: $background-color;//
        background-color: $black-background;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }


        li {
            display: block;
            margin: .5em;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:after {
                border-bottom: none;
            }
        }

    }
}



/**
 * Site footer
 */
.site-footer {
    padding: 2em 0;
    color: $grey-color;
    background-color: $black-background;
}

.footer-heading {
    font-size: $h2-font-size;
    color: $grey-font-color;
    text-align: left;
}

.footer-content {
    float: left;
    width: 40%;
    font-size: $small-font-size;
    text-align: justify;

    a {
        color: $white-color;
        text-decoration: underline;
        &:visited {
            color: $grey-font-color;
        }
    }
}

.footer-social-media {
    float: right;
    a{
        text-decoration: none;
    }
}

//.site-footer {
//    border-top: 1px solid $grey-color-light;
//    padding: $spacing-unit 0;
//}
//
//.footer-heading {
//    font-size: 18px;
//    margin-bottom: $spacing-unit / 2;
//}
//
//.contact-list,
//.social-media-list {
//    list-style: none;
//    margin-left: 0;
//}
//
//.footer-col-wrapper {
//    font-size: 15px;
//    color: $grey-color;
//    margin-left: -$spacing-unit / 2;
//    @extend %clearfix;
//}
//
//.footer-col {
//    float: left;
//    margin-bottom: $spacing-unit / 2;
//    padding-left: $spacing-unit / 2;
//}
//
//.footer-col-1 {
//    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//    width:         calc(35% - (#{$spacing-unit} / 2));
//}
//
//.footer-col-2 {
//    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//    width:         calc(20% - (#{$spacing-unit} / 2));
//}
//
//.footer-col-3 {
//    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//    width:         calc(45% - (#{$spacing-unit} / 2));
//}

@include media-query($on-laptop) {
    //.footer-col-1,
    //.footer-col-2 {
    //    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    //    width:         calc(50% - (#{$spacing-unit} / 2));
    //}
    //
    //.footer-col-3 {
    //    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    //    width:         calc(100% - (#{$spacing-unit} / 2));
    //}
}

@include media-query($on-palm) {
    //.footer-col {
    //    float: none;
    //    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    //    width:         calc(100% - (#{$spacing-unit} / 2));
    //}

    .footer-heading {
        text-align: center;
    }

    .footer-content {
        text-align: center;
        width: 100%;
        //margin: 0 auto;
    }

    .footer-social-media {
        float: none;
        margin: 0 auto;

    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: $h1-font-size;
}

.post-title {
    font-size: $h1-font-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.page-heading {
    font-size: $h1-font-size;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.read-more {
    text-align: center;
}

/**
 * Assignments
 */
.assignment-list {
    list-style: none;
}

.assignment {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;

    img {
        width: 400px;
        margin: 0 auto;
    }
}

.assignment-title {
    font-size: $h2-font-size;
    margin-top: .5em;
}
